# Application Port mapping on Host machine
HOST_PORT=5000
ASPNETCORE_ENVIRONMENT=Production

# Database Connection String (Replace with your actual SQL Server address and credentials)
# In Docker, if SQL Server is running on host machine:
# Linux host: use host.docker.internal or your server local IP
# Remote DB: use your server IP / domain
CONNECTION_STRING=Server=your_sql_server_host,1433;Initial Catalog=OzeDatabase;User ID=sa;Password=YourPassword123;TrustServerCertificate=True;

# JWT Authentication
JWT_KEY=b8959408-5a17-4143-8b73-462065cd69814d0ee596-25e2-4bd0-aa6a-68997549bd199276a1fe-1d9d-4d81-b780-3136034ca3ab
JWT_ISSUER=OZEApp
JWT_AUDIENCE=OZEApi
JWT_EXPIRES_IN_MINUTES=60

# Email Sender Service (SendGrid)
SENDGRID_KEY=
SENDER_EMAIL=support@oze.com
SENDER_NAME=OZE Support
